{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
        <div>Please fill-in the form with correct details.</div>
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row justify-content-md-center ">
                <div class="col-md-auto">
                    <br>
                    <div class="input-group input-group-lg">
                        {{ form.loft_name }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center ">
                <div class="col-md-auto">
                    <br>
                    <div class="input-group input-group-lg">
                        {{ form.first_name }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center ">
                <div class="col-md-auto">
                    <br>
                    <div class="input-group input-group-lg">
                        {{ form.last_name }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center ">
                <div class="col-md-auto">
                    <br>
                    <div class="input-group input-group-lg">
                        {{ form.zip_code }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center ">
                <div class="col-md-auto">
                    <br>
                    <div class="input-group input-group-lg">
                        {{ form.mobile_number }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center ">
                <div class="col-md-auto">
                    <br>
                    <div class="input-group input-group-lg">
                        {{ form.email }}
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <input type="submit" value="Sign Up" class="btn" style="background-color: #ef7117;">
                </div>
            </div>
        </form>
        <br>
</div>
{% endblock %}

